
.img{
	width: 10%;
	height: 10%;

}
button{
	background-color: red;

}
a{	color: #fff;
}
.caja{
  background: #5DEAA8;
  height: 300px;
  width: 400px;
  border: 10px solid #3EC483;
  padding: 10px;
  margin: 10px;
}
.coluna {overflow: hidden;}
.coluna > div {background:#444}
@media screen and (min-width: 40em) {
  .coluna > div {
    float: left;
    width: 40%;
  }
}
.login p , .lateral p, .login h2, .lateral h2 {
  padding: 20px;
  margin: 0;
}